
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>All about me!</h2>
    <a href="/contact" class="btn btn-lg btn-primary">Drop me a line</a>
  </div>
</section>


     <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="img/pic.jpg" style="width:75%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Francisco Perez</h2>
          </div>
        </div>
      </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-black"></i>Computer Scientist</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-black"></i>Bronx, NY</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black"></i>F4Francisco@gmail.com</p>
          <hr>
      </div>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-black"></i>Computer Languages</b></p>
          <p>Java Script</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-red" style="width:90%">
              <div class="w3-center w3-text-white">90%</div>
            </div>
          </div>

          <p>Python</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-red" style="width:85%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>

          <p>Java</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-red" style="width:75%">
              <div class="w3-center w3-text-white">75%</div>
            </div>
          </div>

          <p>Ruby</p>
          <div class="w3-progress-container w3-round-xlarge w3-small">
            <div class="w3-progressbar w3-round-xlarge w3-red" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>

          <br>
            
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-progress-container w3-round-xlarge">
            <div class="w3-progressbar w3-round-xlarge w3-red" style="width:100%"></div>
          </div>

          <p>Spanish</p>
          <div class="w3-progress-container w3-round-xlarge">
            <div class="w3-progressbar w3-round-xlarge w3-red" style="width:55%"></div>
          </div>

          <p>Italian </p>
          <div class="w3-progress-container w3-round-xlarge">
            <div class="w3-progressbar w3-round-xlarge w3-red" style="width:25%"></div>
          </div>
          <br>
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Related Experience</h2>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>CNYC Tech Talent Pipeline - CUNY Tech Prep / New York, NY</b><p>Full-Stack Developer</p></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2016 - <span class="w3-tag w3-red w3-round">Current</span></h6>
          <p>-> Selected for competitive six-month industry-informed technical training program that blends a full stack JavaScript bootcamp with individualized professional development coaching </p>
          <p>-> Designed and built a full stack JavaScript web application with Team Code_Colab other developers to address the issue of novice users being able to come together and collaborate on projects based on experience and language preference. </p>
          <p>-> Implemented app with Node + Express and Sequelize + MySQL for the backend and HTML, CSS, JQuery, Handlebars, and Angular for a responsive front end; performed automated testing with Mocha / Chai; deploy to Linux VPS on Google Cloud Platform.</p>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Code Advantage/ New York, NY</b><p>Lead Instructor</p></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i> July 2016 - <span class="w3-tag w3-red w3-round">Current</span></h6>
          <p>-> Creating a well structured lesson plan to execute based on curriculum for various grade levels</p>
          <p>-> Traveling to different schools in both the New York City and New Jersey areas explaining concepts and helping students better understand major components of Computer Science</p>
          <p>-> Providing individual feedback to each student, Helping students structure their ideas and interpret  their ideas into code.</p>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>CUNY Service Corps / New York, NY</b><p>Alum</p></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2013 - <span class="w3-tag w3-red w3-round">Current</span></h6>
          <p>-> One of the first Service Corps members at Lehman College.</p>
          <p>-> Provide community service by tutoring post-high school students in math and science in the tri-state area.</p>
          <p>-> Attend professional development training with fellow CUNY service corps members.</p>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>CUNY IT Internship: NYCDOE / Bronx, NY</b><p>Primary Computer Technican</p></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i> August 2014 - Febuary 2015</h6>
          <p>-> Maintained performance of all electronic devices within the building.</p>
          <p>-> Mentored educators on troubleshooting and steps for solving software issues</p>
          <p>-> Created P.S. 532’s Google Drive domain and added all staff members, allowing simple and efficient file sharing.</p>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Lehman Colege</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Fall 2014 - Fall 2016</h6>
          <p>Bachelor of Science in Computer Science</p>
          
      </div>


        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-dropbox fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Extracurricular Activies</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Lehman Nation Society of Black Engineers</b><p> Senator </p> </h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2015 - <span class="w3-tag w3-red w3-round">Current</span></h6>
          
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>CUNY Hackathon NYC </b><p> Participant </p></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>October 2016</h6>
          
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Amazon Alexa Hackathon NYC </b> <p> Participant </p> </h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2016</h6>
          
      </div>

      <div class="w3-container">
          <h5 class="w3-opacity"><b>Lehman NSBE Hackathon </b><p> Participant </p></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>November 2014</h6>
    <!-- End Right Column -->
    </div>

